<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_SqlServerCe" connectionString="Data Source=|DataDirectory|\App_Data\DB_SqlServerCe.sdf"/>
    <add name="DB_Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=|DataDirectory|\App_Data\DB_Access.mdb"/>
    <add name="DB_SqlServer" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=MarrDataSqlServerTests;Persist Security Info=True;User ID=jmarr;Password=password"/>
    <add name="DB_Sqlite" connectionString="Data Source=|DataDirectory|\App_Data\DB_SQLite.db;Version=3;"/>
  </connectionStrings>
</configuration>